# Node.js dependencies
node_modules/

# Expo-specific files
.expo/
.expo-shared/
web-build/
*.jks
*.p12
*.key
*.keystore
*.orig
*.bak

# Android-specific files (if using EAS Build or bare workflow)
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/app/build/
android/app/*.iml

# iOS-specific files (if using EAS Build or bare workflow)
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcshareddata/
ios/*.xcodeproj/xcshareddata/
DerivedData/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# macOS-specific files
.DS_Store

# Logs and temporary files
*.log
*.tmp
temp/